header{ 

padding-top: 100px;
background-color: #FF8A5B;
text-align:center;
color: white;
font-family: 'Merriweather', serif;
font-size: 45px;
margin-bottom: 45px;
letter-spacing: 1px;

}

.team{ 

    padding-bottom: 95px;
}